	hr.line2 
	{
		border-top: 3px double #8c8b8b;
	}

	.aligncenter 
	{
    text-align: center;
	}

	#grad1 
	{
	  width: 25%;
	  height: 100px;
	  background-color: #f2f2f2; /* For browsers that do not support gradients */
	}


	#grad2 
	{
	  height: 200px;
	  background-color: white; /* For browsers that do not support gradients */
	  background-image: linear-gradient(white, #2c3e50); 
	}

body
{

  background-image: linear-gradient(#bdc3c7, #2c3e50);  

}

    .tab 
    { 
        display: inline-block; 
        margin-left: 10px; 
    } 

    .tab2 
    { 
        display: inline-block; 
        margin-left: 850px; 
    } 

    .tab3 
    { 
        display: inline-block; 
        margin-left: 350px; 
    } 

    .tab4 
    { 
        display: inline-block; 
        margin-left: 380px; 
    }
    .tab5
    { 
        display: inline-block; 
        margin-left: 590px; 
    }
     .tab6
    { 
        display: inline-block; 
        margin-left: 600px; 
    }

    .tabTitle 
    { 
        display: inline-block; 
        margin-left: 10px; 
    } 

    .h1 
    {
	font-size: 40px;
	}

  .h2 
  {
	font-size: 30px;
  color: #ECF0F1;
	}

  .h3
  {
  font-size: 16px;
  color: #ECF0F1;
  }

  .h4
  {
  font-size: 22px;
  color: #ECF0F1;
  }

  .Spec
  {
  font-size: 16px;
  color: #ECF0F1;
  }
    .center
    {
	text-align: center;
	}


	.tabTop 
	{
	  overflow: hidden;
	  border: 1px solid #ccc;
	  background-color: #f1f1f1;
	}

	/* Style the buttons inside the tab */
	.tab button 
	{
	  background-color: inherit;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	  font-size: 17px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover 
	{
	  background-color: #ddd;
	}

	/* Create an active/current tablink class */
	.tab button.active 
	{
	  background-color: #ccc;
	}

	/* Style the tab content */
	.tabcontent 
	{
	  display: none;
	  padding: 6px 12px;
	  border: 1px solid #ccc;
	  border-top: none;
	}


* {box-sizing: border-box}

.mySlides 
{
  display: none
}


img 
{

  width: auto ;
  max-width: 100% ;
  height: auto ;
  vertical-align: center;

}

video
{

  width: 70% ;
  max-width: 70% ;
  height: 70% ;
  vertical-align: center;

}



/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

.slideshow-containerX {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
p.test1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;

}
p.test2 {
  color: #ECF0F1;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;

}
p.test3 {
  color: #ECF0F1;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;

}

p.test4 {
  color: #ECF0F1;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;

}

.text {
  color: #ECF0F1;
  font-size: 22px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(51, 48, 48);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.center { margin: 0 auto; width: 400px; }

.active, .dot:hover {
  background-color: #ffffff;

}

.video {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 100%;
  left: 100%;
}

.videoT {
  transform: translate(-100%, -100%);
  position: absolute;
  top: 100%;
  left: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 20px}
}

  .bordered 
  {
    width: 1500px;
    height: 4000px;
    padding: 25px;
    border: 2px solid darkorange;
    border-radius: 10px;
    margin: 35px;
    margin-left: auto;
    margin-right: auto;

  }

  .borderedVid 
  {
   
    padding: 25px;
    border: 2px solid darkorange;
    border-radius: 10px;
    margin: 35px;
    max-width: auto ;
    margin-left: auto;
    margin-right: auto;
    height: auto;

  }

  .borderedSlide
  {
   

    border: 2px solid darkorange;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin:  auto;

  }

  .borderedEdu 
  {
   
    padding: 5px;
    border: 2px solid limegreen;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
  }

  .borderedVideo
  {
   
    padding: 5px;
    border: 2px solid limegreen;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
   
    

  }

  .borderedTitle 
  {

  	width: 800px;
    height: 400px;
    padding: 20px;
    border: 10px groove OrangeRed;
  }

  .column 
  {

  float: left;
  width: 50%;
  padding: 10px;
  

  }


  .row:after 
  {

  content: "";
  display: table;
  clear: both;

  }

  .navbar 
  {

  font-size: 20px;
  letter-spacing: 0.6em;
  margin-left: auto;
  margin-right: auto;


	}


.navbar-content li
{
  list-style-type: none;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.45em;
  transition: all 0.4s;
  text-align: center;
  display: block;
 


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.max-width {
  margin: auto;
}


#slideshow {
  overflow: hidden;
  margin: 0 auto;
  height: 320px;
  width: 610px;
  max-width: auto ;
  margin-left: auto;
  margin-right: auto;

}
  
/* Style each of the sides 
with a fixed width and height */
.slide {
  float: left;
  height: 320px;
  width: 610px;
  max-width: auto;
 

}
  
/* Add animation to the slides */
.slide-wrapper {
  /* Calculate the total width on the
  basis of number of slides */
  width: calc(610px * 6);
  max-width: auto;
  
  /* Specify the animation with the
  duration and speed */
  animation: slide 25s ease infinite;
}
  
/* Set the background color
of each of the slides */
.slide:nth-child(1) {
  background: #f1f1f1;
}
  
.slide:nth-child(2) {
  background: #f1f1f1;
}
  
.slide:nth-child(3) {
  background: #f1f1f1;
}
  
.slide:nth-child(4) {
  background: #f1f1f1;
}

.slide:nth-child(5) {
  background: #f1f1f1;
}

.slide:nth-child(6) {
  background: #f1f1f1;
}
  
/* Define the animation 
for the slideshow */
@keyframes slide {
  /* Calculate the margin-left for 
  each of the slides */
  20% {
    margin-left: 0px;
  }
  
  40% {
    margin-left: calc(-610px * 1);
  }
  
  60% {
    margin-left: calc(-610px * 2);
  }
  
  80% {
    margin-left: calc(-610px * 3);
  }
}
